src/main/resources/vies_web_service.wsdl

<wsdl:definitions name="CheckVatImplService"
                  targetNamespace="urn:ec.europa.eu:taxud:vies:services:checkVat"
                  xmlns:tns1="urn:ec.europa.eu:taxud:vies:services:checkVat:types"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:impl="urn:ec.europa.eu:taxud:vies:services:checkVat"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified"
                    elementFormDefault="qualified"
                    targetNamespace="urn:ec.europa.eu:taxud:vies:services:checkVat:types"
                    xmlns="urn:ec.europa.eu:taxud:vies:services:checkVat:types">
            <xsd:element name="checkVat">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="countryCode" type="xsd:string"/>
                        <xsd:element name="vatNumber" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="checkVatResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="countryCode" type="xsd:string"/>
                        <xsd:element name="vatNumber" type="xsd:string"/>
                        <xsd:element name="requestDate" type="xsd:date"/>
                        <xsd:element name="valid" type="xsd:boolean"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="name" nillable="true" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="address" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="checkVatRequest">
        <wsdl:part name="parameters" element="tns1:checkVat">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="checkVatResponse">
        <wsdl:part name="parameters" element="tns1:checkVatResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="checkVatPortType">
        <wsdl:operation name="checkVat">
            <wsdl:input name="checkVatRequest" message="impl:checkVatRequest">
            </wsdl:input>
            <wsdl:output name="checkVatResponse" message="impl:checkVatResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="checkVatBinding" type="impl:checkVatPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="checkVat">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="checkVatRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="checkVatResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="checkVatService">
        <wsdl:port name="checkVatPort" binding="impl:checkVatBinding">
            <wsdlsoap:address location="http://ec.europa.eu/taxation_customs/vies/services/checkVatService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
